.table {
    margin-left: 20px;
    margin-top: 20px;
}

.page {
    position: relative;
    padding: 100vh, 100vw;
    background-color: black;
    height: 150vh;
    width: 100vw;
    object-fit: cover;

}